<div class="home-background">

    <div class="col-8 md:col-6 lg:col-3">

        <p-card
        [style]="{width: '360px'}"
        styleClass="p-card-shadow">

			<p>Hello! I hope you like this app. As you can see in the menu above, you will be able to:</p>
			
			<br>
			<hr>
			<br>

			<ul class="list-disc ml-2">
				<li>
					<b>Character: </b> Check the list of characters and acces to it´s details
				</li>
				<li>
					<b>Locations: </b> Check the list of locations and order it as you please
				</li>
				<li>
					<b>Episodes: </b> Check the list of episodes with pagination
				</li>
			</ul>

			<div class="logo-container">
				<div class="mr-2">
				  <h3> Tecnologies used: </h3>
				</div>
				<div class="image">
				  <img src="../../../../assets/angular-logo.png">
				</div>
				
			</div>

			<div class="logo-container">
				<div class="mr-2">
				  <h3> Libraries used: </h3>
				</div>
				<div class="image">
				  <img src="../../../../assets/primeng-logo.jpg">
				</div>
			</div>

			<br>

			<h5>I really hope you like it. Check out my github and let me know if you have any feedback on my repo! </h5>

			<br>

			<a target="_blank" href="https://github.com/Ufransa/Rick-Morty">
				<img src="../../../../assets/github-logo.png" alt="Link to Github repo">
			</a>
            
        </p-card>

    </div> 
</div>


