body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.logo-container{
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.home-hello{
    background: url('../../../../assets/hello.gif');
}