
<div class="mx-auto">

    <div class="card-container">
        
        <h1 class="rickymorty text-center my-4 text-6xl">CHARACTER LIST</h1>

    </div>
    
    <div class="grid" infinite-scroll (scrolled)="onScrollDown()">

        <div class="col-8 md:col-6 lg:col-3" *ngFor="let rickAndMorty of characters">

            <p-card 

            [header]="rickAndMorty.name"
            [subheader]="rickAndMorty.status"
            [style]="{width: '360px'}" 
            styleClass="p-card-shadow">

                <a [routerLink]="[ '/by/', rickAndMorty.id ]">
                <img 
                    [alt]="rickAndMorty.name" 
                    [src]="rickAndMorty.image">
                </a>

                <hr>

                <p> <b> Species: </b> {{rickAndMorty.species}} </p>
                <p> <b> Last known location: </b> {{rickAndMorty.location.name}} </p>
                
            </p-card>

        </div>

        <div *ngIf="characters.length <=0">

            <p-message severity="warn" text="Ups! There is nothing to show"> </p-message>

        </div>
        
        <p-scrollTop 
            [ngClass]="'no-hidden'"
            *ngIf="showGoUpButton"
            (click)="onScrollTop()" 
            target="window" 
            styleClass="custom-scrolltop" 
            [threshold]="100" 
            icon="pi pi-arrow-up">
        </p-scrollTop>
    
    </div>
</div>




