
<div class="mx-3">

    <h1 class="rickymorty text-center"> LOCATIONS </h1>

    <p-toolbar>
    
        <div class="p-toolbar-group-end">
    
            <p-button (click)="changeOrder('name')" class="mr-2" label="Order by name" icon="pi pi-sort" styleClass="p-button-success"></p-button>
    
            <p-button (click)="changeOrder('type')" class="mr-2" label="Order by type" icon="pi pi-sort" styleClass="p-button-danger"></p-button>
    
        </div>
    
    </p-toolbar>
    
    <p-table [value]="locations | sortBy:sortBy" [tableStyle]="{'max-width': '100%'}">

        <ng-template pTemplate="header">

            <tr>
                <th> Name </th>
                <th> Type </th>
                <th> Dimension </th>
                <th> Residents </th>
                <th> Created at </th>
            </tr>

        </ng-template>

        <ng-template pTemplate="body" let-location>

            <tr >
                <td>{{location.name}}</td>
                <td>{{location.type}}</td>
                <td>{{location.dimension}}</td>
                <td>{{ location.residents | json | count }}</td>
                <td>{{location.created | date:'MMMM dd, yyyy'}}</td>
            </tr>

        </ng-template>

    </p-table>
    
</div>


