/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: rickymorty;
    src: url(assets/fonts/rm_font.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.rickymorty {
    font-family: rickymorty;
}

.no-hidden{
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}

.block {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: center;
  }

.image-background{
    background-image: url('./assets/rmbackground2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.home-background{
    background-image: url('./assets/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.home-button-icon{
    background-image: url('./assets/home.png');
    background-position: 0 0;  
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.characters-button-icon{
    background-image: url('./assets/characters.png');
    background-position: 0 0;  
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.locations-button-icon{
    background-image: url('./assets/locations.png');
    background-position: 0 0;  
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.episodes-button-icon{
    background-image: url('./assets/episodes.png');
    background-position: 0 0;  
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
}






